*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.tar
*.zip
go.work
.idea
**/bootstrap
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
envs/dev/.terraform/
.terraform
**/.terraform/*
.terraform.lock.hcl
*.tfstate.*
**/.tfstate
**/.tfstate.*
crash.log
crash.*.log
**/crash.log
**/crash.*.log
*.tfvars
*.tfvars.json
**/*.tfvars
**/*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
.terraformrc
terraform.rc
**/.terraformrc
**/terraform.rc
**/packer_cache/*
*.pkrvars.hcl
*.pkrvars.json
**/*.pkrvars.hcl
**/*.pkrvars.json
values.hcl
*.pub
**/*.pub
*.pem
**/*.pem
*.ovpn
**/*.ovpn